* {
    margin: 0px;
}
#top1 {
    display: flex;
    flex-direction: row;
    border-bottom: solid;
    width: 100%;
    justify-content: center;

}
#topleft {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-right: 30%;
}
#Top {
    display: flex;
    justify-content: center;
    margin-right: 35%;
}
#mid {
    display: flex;
    flex-direction: row;
}#fengshuicounter {
    margin-left: 10px;
}
#Feng1 {
    display: flex;
    flex-direction: row;
    width: 250px;
    margin-top: 20px;
    background-color: powderblue;
    border: solid;
    cursor: pointer;
}
#left {
    display: flex;
    align-content: flex-end;
    flex-direction: column;
    
    
    
    width: 100%;
}
.Bought {
    margin-left: 5px;
    width: 100%;
}
#Clicker {
    display: flex;
    width: 100%;
    margin-left: 5%;
    margin-top: 5%;
    animation: rotation 400s infinite linear;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

.Name1b {
    display: flex;
   flex-direction: row;

}
.upgradeline {
    display: flex;
    flex-direction: row;
}
#dis1 {
    display: flex;
    flex-direction: row;
    width: 250px;
    background-color: powderblue;
    border: solid;
    cursor: pointer;
}
#fen1 {
    display: flex;
    flex-direction: row;
    width: 250px;
    background-color: powderblue;
    border: solid;
    cursor: pointer;
}
#sch1 {
    display: flex;
    flex-direction: row;
    width: 250px;
    background-color: powderblue;
    border: solid;
    cursor: pointer;
}
#fac1 {
    display: flex;
    flex-direction: row;
    width: 250px;
    background-color: powderblue;
    border: solid;
    cursor: pointer;
}



#mid1 {
    margin-left: 50%;
    width: 100%;
    display: flex;
    justify-content: right;
}
.upgradeinfo {
    background-color: gray;
    border: solid;
    height: 20%;
    width: 280px;
}
.nameandprice {
    display: flex;
    flex-direction: row;
}
.price {
    display: flex;
    margin-left: 20px;
}
.upg1show {
        display: none;
        position: absolute;
        width: 100px;
        height: 35%;
        left: 70.5%;
        top: 4%;
}
.inc1show {
    display: none;
    position: relative;
    width: 100px;
    height: 35%;
    right: 350%;
    
}
.dis1show {
    display: none;
    position: relative;
    width: 100px;
    height: 35%;
    right: 255%;
    
}
.fen1show {
    display: none;
    position: relative;
    width: 100px;
    height: 35%;
    right: 255%;
    
}
.sch1show {
    display: none;
    position: relative;
    width: 100px;
    height: 35%;
    right: 255%;
    
}
.fac1show {
    display: none;
    position: relative;
    width: 100px;
    height: 35%;
    right: 255%;
    
}
#settings {
    display: none;
    position: relative;
    width: 100px;
    height: 35%;
    
    
}
#upg1:hover .upg1show {
    display: block;
   }
#upg2:hover .upg1show {
    display: block;
   }
#incupg1:hover .upg1show {
    display: block;
}
#incupg2:hover .upg1show {
    display: block;
}
#disupg1:hover .upg1show {
    display: block;
}
#disupg2:hover .upg1show {
    display: block;
}
#Feng1:hover .inc1show {
    display: block;
}
#dis1:hover .dis1show {
    display: block;
}
#fen1:hover .fen1show {
    display: block;
}
#sch1:hover .sch1show {
    display: block;
}
#fac1:hover .fac1show {
    display: block;
}
#top1right:hover #settings {
    display: block;
}